@font-face {
    font-family: netflixFont;
    src: url('../fonts/BebasNeue-Regular.otf');
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-Regular.ttf');
}

body {
    padding: 0%;
    margin: 0px; 
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: #161C2A;
    z-index:-1;
}


/*------------title bar-----------------*/
#title-bar{
    background-color:#161C2A;
    height:45px;
    z-index: 1;
}
   
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
}

#maximize-button{
    -webkit-app-region: no-drag;
    position:fixed;
    right:41.5px;
    height:45px;
}

#min-btn{
    position:fixed;
    -webkit-app-region: no-drag;
    top:0px;
    right:83.5px;
    height:45px;
}


#close-btn{
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
    height:45px;
}



#min-btn, #close-btn,#maximize-button{
    border: none;
    color: white;
    outline: none;
    font-size: 21.6px;
    display: inline-block;
    padding: 3px 14px;
    background-color: transparent;
    font-weight: lighter;
    -webkit-user-select: none;
}




#title-bar-btns :hover{
    background-color: #4a4949;
}


#close-button :hover{
    background-color: crimson;
}

.logo{
    position: absolute;
    left:15px;
    top: 5px;
    font-family: netflixFont;
    font-size:25px;
    font-weight:bolder;
    letter-spacing:2px;
    color:#E50914;
}
#movie{
    position:relative;
    top:0px;
}
#s{
    position:relative;
    font-size:40px;
    transform:rotate(-10deg);
    left:50px;
    top:-45px;
}
#hop{
    position:relative;
    top:-89px;
    left:65px;
    font-size:40px;
}

/*------------login-------------------*/
.sign-in_container{
    position:absolute;
    height:calc(100vh - 45px);
    width:100%;
    backdrop-filter: blur(6px);
    opacity: 1;
    z-index:1;
    transition: 1s;
}

.sign-in{
    position:absolute;
    top:20%;
    left:40%;
    width:400px;
    height:530px;
    background-color:#273043;
    z-index: 1;
}



.login{
    position: absolute;
    top:10px; 
    width:100%;
}

#user-img {
    position: relative;
    width: 95px;
    height: 95px;
    left: 150px;
}

#login{
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #E5E7E6;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.user-box{
    position: relative;
}


.user-box input {
    font-family: 'Oswald', sans-serif;
    position:relative;
    top:50px;
    left:120px;
    margin-bottom:40px;
    font-size: 16px;
    color: white;
    border: none;
    border-bottom: 1.2px solid white;
    outline: none;
    background: transparent;
}




.user-box label {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    left: 120px;
    top:50px;
    font-size: 16px;
    color: #E5E7E6;
    pointer-events: none;
    transition: .5s;
}


.user-box input:focus ~ label,
.user-box input:valid ~ label {
    font-family: 'Oswald', sans-serif;
    top: 35px;
    color: #E5E7E6;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #E50914;
}

.sign-in-button{
    position: relative;
    left: 38%;
    padding: 15px;
    top: 90px;
    font-family: 'Oswald', sans-serif;
    border-radius: 38px;
    font-size: 20px;
    font-weight: bolder;
    border: 3px solid #E50914;
    outline: none;
    background-color: transparent;
    color: #E50914;
    transition: .5s;
}

.sign-in-button:hover{
    background-color: #E50914;
    color:black;
    cursor:pointer;
}

#admin-btn{
    position: relative;
    top:20px;
    left:-70px;
    font-family: 'Oswald', sans-serif;
    color:#E5E7E6;
    outline:none;
    border:none;
    background-color:transparent;
    text-decoration:underline;
    transition: .2s;
}

#employee-btn{
    position: relative;
    font-family: 'Oswald', sans-serif;
    top:20px;
    left:30px;
    color:#E5E7E6;
    outline:none;
    border:none;
    background-color:transparent;
    text-decoration:underline;
    transition: .2s;
}

#admin-btn:hover{
    cursor:pointer;
    text-decoration:none;
    color:#E50914;
}

#employee-btn:hover{
    cursor:pointer;
    text-decoration:none;
    color:#E50914;
}

/*---------customer---------*/

.customer{
    position: absolute;
    top:45px;
    height:calc(100vh - 45px);
    width:100%;
    background-color: white;
}

.left-bar{
    position:relative;
    height:100%;
    width:130px;
    background-color: #161C2A;
}

#films{
    position:relative;
    padding:20px;
    background-color:transparent;
    width:129px;
    border:none;
}

#film-img{
    position:relative;
    width:40px; 
    height:40px;
}

#films:hover{
    background-color:#435571;
    cursor:pointer;
}

#films:focus{
    background-color:#4d30d5;
}

#series{
    position:relative;
    padding:20px;
    background-color:transparent;
    width:129px;
    border:none;
}

#series-img{
    position:relative;
    width:40px;
    height:40px;
}

#series:hover{
    background-color:#435571;
    cursor:pointer;
}

#series:focus{
    background-color:#4d30d5;
}

#owned{
    position:relative;
    padding:20px;
    background-color:transparent;
    width:129px;
    border:none;
}

#owned-img{
    position:relative;
    width:40px;
    height:40px;
}

#owned:hover{
    background-color:#435571;
    cursor:pointer;
}

#owned:focus{
    background-color:#4d30d5;
}

#account{
    position:relative;
    padding:20px;
    background-color:transparent;
    width:129px;
    border:none;
    
}

#account-img{
    position:relative;
    width:40px;
    height:40px;
}

#account:hover{
    background-color:#435571;
    cursor:pointer;
}

#account:focus{
    background-color:#4d30d5;
}

.search{
    position:absolute;
    top:0px;
    left:128px;
    background-color:#0f1827;
    box-shadow:0px 1px 6px black;
    width:calc(100vw - 128px);
    height:85px;
}

#search-img{
    position:relative;
    top:-5px;
    left:30px;
    width:30px;
    height:30px;
}

#search-area{
    position:relative;
    top:25px;
    left:40px;
    width:1000px;
    outline:none;
    font-family: 'Oswald', sans-serif;
    color:white;
    resize:none;
    font-size:20px;
    border:none;
    background-color:transparent;
}

#search-area::placeholder{
    color:#6D7280;
}

/*.search:focus-within{
    width:calc(100vw - 14.65%);
    left:10.4%;
    box-shadow:none;
    transform:scale(1.1);
}*/

.category{
    position:absolute;
    top:85.4px;
    left:130px;
    width:300px;
    height:calc(100vh - 130.5px);
    background-color:#232c3b;
    box-shadow:0px 0px 6px black;
}

.content{
    position:absolute;
    top:85px;
    left:430.4px;
    background-color: #192231;
    width:calc(100vw - 430.5px);
    height:calc(100vh - 130px);
    box-shadow:inset 0px 1px 6px black;
}

#type-name{
    position: relative;
    top:30px;
    text-align:center;
    font-family: 'Oswald',sans-serif;
    color:white;
    font-size:35px;
}

#genres{
    position: relative;
    top:50px;
    text-align:left;
    font-family: Oswald;
    padding:7px 18px;
    color:white;
    font-size:20px;
    font-weight:lighter;
    border-bottom: .01ex #bdb7b7 solid
}

.categories {
    position: relative;
    top:57px;
    width: 100%;
    height:calc(100vh - 285px);
    background-color:transparent;
}