@font-face {
    font-family: netflixFont;
    src: url('../fonts/BebasNeue-Regular.otf');
}


body {
    padding: 0%;
    margin: 0px; 
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: #000505;
}


/*------------title bar-----------------*/
#title-bar{
    background-color:#000505;
    height:32px;

}
   
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
}

#maximize-button{
    -webkit-app-region: no-drag;
    top:-2px;
    position:fixed;
    right:41.5px;
    height:34px;
}

#min-btn{
    position:fixed;
    -webkit-app-region: no-drag;
    top:0px;
    right:83.5px;
}


#close-button{
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
}



#min-btn, #close-btn,#maximize-button{
    border: none;
    color: white;
    outline: none;
    font-size: 21.6px;
    display: inline-block;
    padding: 3px 14px;
    background-color: transparent;
    font-weight: lighter;
    -webkit-user-select: none;
}




#title-bar-btns :hover{
    background-color: #4a4949;
}


#close-button :hover{
    background-color: crimson;
}

.logo{
    position: absolute;
    left:15px;
    top: 5px;
    font-family: netflixFont;
    font-size:30px;
    font-weight:bolder;
    letter-spacing:2px;
    color:#E50914;
}
#movie{
    position:relative;
    top:0px;
}
#s{
    position:relative;
    font-size:45px;
    transform:rotate(-10deg);
    left:60px;
    top:-50px;
}
#hop{
    position:relative;
    top:-92px;
    left:80px;
    font-size:30px;
}

/*------------login-------------------*/

.sign-in{
    position:absolute;
    top:20%;
    left:40%;
    width:400px;
    height:530px;
    background-color:#161818;
}



.login{
    position: absolute;
    top:10px; 
    width:100%;
}

#user-img {
    position: relative;
    width: 95px;
    height: 95px;
    left: 150px;
}

#login{
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #E5E7E6;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.user-box{
    position: relative;
}


.user-box input {
    font-family: 'Oswald', sans-serif;
    position:relative;
    top:50px;
    left:120px;
    margin-bottom:40px;
    font-size: 16px;
    color: white;
    border: none;
    border-bottom: 1.2px solid white;
    outline: none;
    background: transparent;
}




.user-box label {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    left: 120px;
    top:50px;
    font-size: 16px;
    color: #E5E7E6;
    pointer-events: none;
    transition: .5s;
}


.user-box input:focus ~ label,
.user-box input:valid ~ label {
    font-family: 'Oswald', sans-serif;
    top: 35px;
    color: #E5E7E6;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #E50914;
}

.sign-in-button{
    position: relative;
    left: 38%;
    padding: 15px;
    top: 90px;
    font-family: 'Oswald', sans-serif;
    border-radius: 38px;
    font-size: 20px;
    font-weight: bolder;
    border: 3px solid #E50914;
    outline: none;
    background-color: transparent;
    color: #E50914;
    transition: .5s;
}

.sign-in-button:hover{
    background-color: #E50914;
    color:black;
    cursor:pointer;
}

#admin-btn{
    position: relative;
    top:20px;
    left:-70px;
    font-family: 'Oswald', sans-serif;
    color:#E5E7E6;
    outline:none;
    border:none;
    background-color:transparent;
    text-decoration:underline;
    transition: .2s;
}

#employee-btn{
    position: relative;
    font-family: 'Oswald', sans-serif;
    top:20px;
    left:30px;
    color:#E5E7E6;
    outline:none;
    border:none;
    background-color:transparent;
    text-decoration:underline;
    transition: .2s;
}

#admin-btn:hover{
    cursor:pointer;
    text-decoration:none;
    color:#E50914;
}

#employee-btn:hover{
    cursor:pointer;
    text-decoration:none;
    color:#E50914;
}
